/* Basic Grey */
a {
    color: #888;
    text-decoration: none;
}
table {
    width: 100%;
}

td {
    font-size: 14px;
}

tr {
    height: 50px;
    text-align: center;
    border: none;
}

.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 600px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey div.field>label {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF image-url('down-arrow.png') no-repeat right;
    background: #FFF image-url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}
.basic-grey .button-back {
    background: #CCC;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #000;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}
.basic-grey .button-primary {
    background: rgb(9, 100, 122);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.basic-grey .button-primary:hover {
    background: rgb(94, 170, 189);
}

.basic-grey .button-success {
    background: rgb(8, 173, 83);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.basic-grey .button-warning {
    background: rgb(194, 192, 89);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.basic-grey .button-warning:hover {
    background: rgb(218, 216, 150);
}
