<br>
<div class="basic-grey">

<h1>Seja bem-vindo!</h1>

<ul>
    <li><i class="fa fa-list-ul" aria-hidden="true"></i> - <%= link_to 'Tipos', kinds_path%></li>
    <li><i class="fa fa-phone" aria-hidden="true"></i> - <%= link_to 'Contatos', contacts_path %></li>
</ul>

</div>